// _base.scss
@import 'variables';
@import 'mixins';

* {
  font-family: $font-family;
  font-weight: $font-weight;
  font-style: normal;
}

header {
  @include background-cover($header-image);
  height: 80vh;
}

body {
  @include background-cover($body-background);
}

h2 {
  font-size: 2rem;
  text-transform: uppercase;
  color: rgb(225, 241, 255);
  background-color: rgba(0, 0, 0, 0.578);
  margin: 0;
}

h3 {
  background-color: rgba(148, 103, 253, 0.651);
  text-transform: capitalize;
  color: rgb(207, 228, 228);
  padding: 0.5rem;
  text-align: justify;
}

.caja_reserva {
  display: grid;
  grid-template-columns:2, 1fr;
  align-content: center;
  justify-items: center;
  margin: 0.5rem;
  text-align: center;
  background-color: $background-color;
  border-radius: 10px;
}

.Boton-reserva,
.Boton_destino {
  @include button-styles;
}

@media (min-width: 350px) {
  .container_reserva {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    align-content: center;
    justify-items: center;
    margin: 0.5rem;
    text-align: center;
    background-color: $background-color;
    border-radius: 10px;
  }
}
