// _variables.scss
$font-family: "Timmana", sans-serif;
$font-weight: 500;
$primary-color: rgba(76, 47, 194, 0.724);
$background-color: rgba(210, 210, 210, 0.521);
$header-image: url(../images/inicioavion.jpeg);
$body-background: url(../images/background.jpg);
